@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&family=Ubuntu:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app-comp {
        background-color: #1e1e1e;
        height: 100vh;
        font-family: "Inter", sans-serif;
    }

    /* ------------ NAVBAR ----------- */

    .navbar {
        /* background-color: #1e1e1e; */
        color: #fff;
        /* height: 10%; */
        height: 115px;
    }

    .elements {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        align-items: center;
    }

    .elements > p {
        margin-left: 0.8rem;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .logotype {
        border-radius: 2px;
        padding: 0.1rem;
        margin-left: 8rem;
    }

    .right-column {
        margin-left: auto;
        margin-right: 8rem;
    }

    .right-column > *:not(.right-column > .download-btn) {
        margin: 0 0.5rem;
    }

    .right-column > *:not(.right-column > .download-btn):hover {
        /* border: 1px solid; */
        /* padding: 10px; */
        border-radius: 50%;
        box-shadow: 0px 0px 10px 3px #FF8E5E;
    }

    .right-column > *:not(.right-column > .download-btn):active {
        border-radius: 50%;
        box-shadow: 0px 0px 10px 3px #febfa4;
    }

    .right-column > .download-btn {
        border: 1px #fff solid;
        /* width: 11.7rem; */
        /* height: 3.2rem; */
        padding: 1rem 2.8rem;
        border-radius: 30px;
        margin-left: 1.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

    .right-column > .download-btn:hover {
        border: 1px #ff8e5e solid;
        background-color: #ff8e5e;
        color: #1d1e22;
    }

    .right-column > .download-btn:active {
        background-color: #febfa4;
    }
    
    .navbar > hr {
        border: 2px #fff solid;
        opacity: 2%;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: none;
    }

    /* Style The Dropdown Button */
    .dropbtn {
        border: 1px #fff solid;
        width: 4rem;
        height: 3.2rem;
        border-radius: 15px;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 15px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 15px;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        border: 1px #ff8e5e solid;
        background-color: #ff8e5e;
        color: #1d1e22;
    }

    @media (min-width: 350px) and (max-width: 800px) {
        .dropdown {
            /* position: relative; */
            display: inline-block;

            margin-left: auto;
            margin-right: 8rem;
        }

        .right-column {
            display: none;
        }
    }

    @media (max-width: 530px) {
        .dropdown {
            position: relative;
            display: inline-block;

            margin-left: auto;
            margin-right: 4.5rem;
        }

        .right-column {
            display: none;
        }

        .logotype {
            border-radius: 2px;
            padding: 0.1rem;
            margin-left: 2.5rem;
        }
    }

    /* --------------- INTRO ------------- */

    .intro {
        /* background-color: #1e1e1e; */
        color: #fff;
        height: 90vh;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    /* -------------------------- */

    .info {
        width: 50%;
        padding: 8rem;
        margin-bottom: 1rem;
    }

    .greeting {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .name {
        font-size: 3rem;
        font-weight: 800;
    }

    .field {
        color: #ff8e5e;
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    .pep {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 3rem;
    }

    .info > .contacts-btn {
        /* border: 1px #fff solid; */
        background-color: #ff8e5e;
        /* width: 14rem; */
        /* height: 3.5rem; */
        padding: 1.2rem 4.8rem;
        border-radius: 30px;
        font-weight: 700;
        font-size: 1rem;
        color: #1d1e22;
    }

    .info > .contacts-btn:hover {
        border: 1px #fff solid;
        background-color: #1d1e22;
        color: #fff;
        margin-top: 1rem;
    }

    .info > .contacts-btn:active {
        background-color: #febfa4;
    }

    /* -------------------------- */

    .my-pic {
        width: 50%;
        padding-right: 8rem;
    }

    .my-pic > img {
        margin-left: 8rem;
        max-width: 80%;
        object-fit: cover;
        border-radius: 30px;
    }

    @media (min-width: 350px) and (max-width: 750px) {
        .info {
            width: 100%;
            padding-top: 4rem;
            padding-bottom: 2.5rem;
        }

        .my-pic {
            width: 100%;
        }

        .info > button {
            margin-top: 1rem;
        }

        .rectangle-skills  {
            margin-top: 2rem;
        }
    }

    @media (max-width: 530px) {
        .info {
            width: 100%;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 2.5rem;
        }

        .my-pic {
            width: 100%;
            padding: 0rem;
        }

        .my-pic > img {
            margin: auto;
            width: 100%;
            height: 100%;
        }

        .info > .contacts-btn {
            margin-top: 2rem;
        }

        .rectangle-skills  {
            margin-top: 2rem;
        }
    }

    .rectangle-skills {
        display: flex;
        flex-flow: row wrap;
        transform: rotate(-1deg);
        height: 60px;
        background-color: #fff;
        color: #1d1e22;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .rectangle-skills > span {
        color: #ff8e5e;
        width: 21px;
        height: 42px;
        font-size: 35px;
        font-weight: 800;
    }

    .rectangle-skills > p {
        font-size: 19px;
        font-weight: 800;
    }

    .app-comp, .intro, .rectangle-skills {
        height: 100%;
    }

    .grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    /* --------------ABOUT------------------- */

    .about {
        /* background-color: #1D1E22; */

        display: grid;
        grid-template: repeat(2, minmax(240px, 1fr)) / repeat(2, minmax(240px, 1fr));
        row-gap: 4rem;
        column-gap: 4rem;

        padding: 0 8rem;
        margin: 8rem 0 6rem 0;
        color: #fff;
    }

    @media (max-width: 800px) {
        .about {
            grid-template: repeat(auto-fit, minmax(240px, 1fr)) / repeat(auto-fit, minmax(240px, 1fr));
    
            padding: 0 8rem;
        }
    }

    @media (max-width: 530px) {
        .about {
            padding: 0rem 2.5rem;
            margin-top: 2.5rem 0;
        }
    }

    .one {
        /* background-color: #1D1E22; */
        /* border: 1px #fff solid; */
        margin-right: 3rem;
    }

    .one > h1 {
        font-weight: 800;
        font-size: 45px;
        color: #FF8E5E;
    }
    
    .one > h1 > span{
        color: #fff;
    }

    .description {
        font-size: 15px;
        font-weight: 400;
        margin: 1rem 0;
    }

    .one a {
        padding: 0.8rem;
        /* line-height: 4; */
    }

    .one a *:hover {
        /* border: 1px solid; */
        /* padding: 10px; */
        border-radius: 50%;
        box-shadow: 0px 0px 10px 3px #FF8E5E;
    }

    .one a *:active {
        border-radius: 50%;
        box-shadow: 0px 0px 10px 3px #febfa4;
    }

    .description ~ p {
        font-size: 15px;
        font-weight: 700;
        margin: 1rem 0;
    }

    .tech-table {
        display: grid;
        grid-template: repeat(auto-fit, minmax(20px, 1fr)) / repeat(auto-fit, minmax(180px, 1fr));
        row-gap: 0.8rem;
    }

    .tech-table > p{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 14px;
        /* line-height: 1.5; */
    }

    .two {
        /* background-color: #1D1E22; */
        display: flex;
        align-items: center;
    }

    .work-pic > img {
        max-width: 90%;
        margin-left: auto;
        object-fit: cover;
        border-radius: 30px;
    }

    @media (max-width: 800px) {
        .one {
            margin-right: 0rem;
        }

        .work-pic > img {
            margin: 2.5rem 0;
            max-width: 100%;
        }
    }

    .three {
        /* background-color: rgb(217, 255, 0); */
        margin-right: 1rem;
    }

    .three h1, .four h1 {
        margin-bottom: 1.5rem;
    }

    .three span, .three h1, .four span, .four h1 {
        font-size: 40px;
        font-weight: 800;
    }

    .three > div > h2, .four > div > h2  {
        font-size: 28px;
        font-weight: 700;
    }

    .three > div > h2 + p, .four > div > h2 + p {
        float: left;
    }

    .three > div > h2 ~ p, .four > div > h2 ~ p {
        font-size: 15px;
        font-weight: 400;
    }

    .time {
        text-align: right;
    }

    .three hr, .four hr {
        border: 1px #fff solid;
        opacity: 5%;
        margin: 1.5rem 0;
    }

    .four {
        /* background-color: rgb(76, 96, 96); */
    }

    /* --------- MY SKILLS ----------------- */

    .vl, .vl-2, .vl-3 {
        border-left: 8px solid #1669B4;
        /* height: 222px; */
        float: left;
        height: 100%;

        border-radius: 10px;
        margin-right: 1.5rem;
    }

    .vl-2 {
        border-color: #67F5B1;
    }

    .vl-3 {
        border-color: #FD97CE;
    }

    .my-skills {
        background-color: #19191D;
        padding: 4rem 8rem;
        color: #fff;
    }

    .my-skills > .skill-list {
        display: grid;
        grid-template: repeat(auto-fit, minmax(240px, 1fr)) / repeat(3, minmax(240px, 1fr));
        row-gap: 4rem;
        column-gap: 2rem;
    }

    .my-skills > h1 {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    .my-skills > h1 > span {
        color: #FE8E5E;
    }

    @media (max-width: 1000px) {
        .my-skills > .skill-list {
            grid-template: repeat(auto-fit, minmax(240px, 1fr)) / repeat(auto-fit, minmax(240px, 1fr));
        }
    }

    @media (max-width: 530px) {
        .my-skills {
            padding: 2.5rem;
        }
    }

    .skill-list h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .skill-list p {
        margin-bottom: 0.5rem;
    }
    
    /* --------- PROJECTS ----------------- */

    .projects {
        padding: 5rem 8rem;
        color: #fff;
        margin-bottom: 3rem;
    }

    .projects > h1 {
        font-size: 52px;
        font-weight: 800;
        text-align: center;
    }

    .projects .nd {
        color: #FF8E5E;
        margin-bottom: 2rem;
    }

    .projects > ul {
        display: grid;
        grid-template: repeat(3, minmax(240px, 1fr)) / repeat(3, minmax(240px, 1fr));
        gap: 4em;
    }

    .projects > ul > li {
        border-radius: 15px;
    }

    @media (max-width: 1000px) {
        .projects > ul {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-template-rows: none;
            /* grid-template: repeat(auto-fit, minmax(240px, 1fr)) / repeat(auto-fit, minmax(240px, 1fr)); */
        }
    }

    @media (max-width: 530px) {
        .projects {
            padding: 2.5rem;
        }
    }

    .projects > ul img {
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .card {
        position: relative;
        /* width: 220px; */
        /* height: 320px; */
        /* background: mediumturquoise; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        font-size: 25px;
        font-weight: 700;
        border-radius: 15px;
        cursor: pointer;
      }
      
    .card::before,
    .card::after {
    position: absolute;
    content: "";
    /* width: 10%; */
    /* height: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #19191D;
    opacity: 80%;
    transition: all 0.5s;
    }
    
    .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
    }
    
    .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
    }
    
    .card:hover::before,
    .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.1s;
    }
    
    .first:hover:after {
    content: "React JS, Tailwind CSS";
    }
    .second:hover:after {
    content: "HTML, CSS, JavaScript";
    }
    .third:hover:after {
    content: "React JS";
    }
    .fourth:hover:after {
    content: "HTML, CSS";
    }
    .fifth:hover:after {
    content: "HTML, CSS";
    }
    .sixth:hover:after {
    content: "HTML, CSS, Flexbox";
    }
    .seventh:hover:after {
    content: "HTML, CSS, Bootstrap, Django, SQLite";
    }
    .eighth:hover:after {
    content: "HTML, CSS, Bootstrap, Django, Django Rest, Postgres";
    }
    .ninth:hover:after {
    content: "MERN Stack";
    }

    .card + p {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        padding-top: 0.5rem;
    }

    .card + p span {
        color:#FF8E5E;
    }

    /* ------------ CONTACTS --------------- */

    .contacts {
        background-color: #19191D;
        padding: 4rem 8rem;
        color: #fff;
        text-align: center;
        padding: 5rem 0 8rem 0;
    }

    .contacts h2 {
        font-size: 52px;
        color: #FF8E5E;
        font-weight: 800;
    }

    .contacts > .nd-two {
        margin-top: -1rem;
        margin-bottom: 3rem;
    }

    .contacts > a {
        background-color: #fff;
        padding: 1.2rem 3.5rem;
        border-radius: 30px;
        font-weight: 700;
        font-size: 1rem;
        color: #1d1e22;
    }

    .contacts > a:hover {
        border: 1px #ff8e5e solid;
        background-color: #1d1e22;
        color: #ff8e5e;
    }

    .contacts > a:active {
        background-color: #febfa4;
    }

    /* ------------- FOOTER ------------ */

    footer {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        opacity: 30%;
        text-align: center;
        padding: 3rem 0;
    }

    html {
        scroll-behavior: smooth;
      }
}
